{% extends 'base.html' %}
{% block content %}
<h1>Aldo's Garage</h1>

<h5>NPM: </h5>
<p>{{npm}}</p> 

<h5>Name: </h5>
<p>{{name}}</p>

<h5>Class: </h5>
<p>{{class}}</p> 

{% if not car_entries %}
<p>Belum ada data mobil yang masuk.</p>
{% else %}
<table>
  <tr>
    <th>Car Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Horsepower</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mobil di bawah baris ini 
  {% endcomment %} 
  {% for car_entry in car_entries %}
  <tr>
    <td>{{car_entry.name}}</td>
    <td>{{car_entry.price}}</td>
    <td>{{car_entry.description}}</td>
    <td>{{car_entry.car_horsepower}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_car_entry' %}">
  <button>Add New Car Entry</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
